body {
  background-color:rgb(144, 189, 179);
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(90, 38, 136);
}

#title {
  text-align: center;
}

#subtitle {
  line-height: 30px;
  text-align: center;
}

#image {
  display: inline-flex;
}

#my-photo {
  border-color:rgb(60, 97, 92);;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  margin-top: 20px;
  width: 325px;
}

#projects {
  list-style: none;
}

#uls {
  display: flex;
  justify-content: center;
}

#contact {
  display: flex;
  font-size: 28px;
  font-weight: bold;
  justify-content: center;
  margin: 3px;
}

.text-content {
  display: inline-flex;
  flex-direction: column;
  margin-right: 15px;
  vertical-align: top;
}

.item {
  font-size: 20px;
  list-style: none;
  margin-bottom: 19px;
}

.links {
  color: midnightblue;
  display: flex;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  justify-content: center;
  margin-top: 15px;
}
