body {
  background-color:rgb(144, 189, 179);
}

#title {
  text-align: center;
}

#subtitle {
  text-align: center;
  line-height: 30px;
}

#image {
  display: flex;
  justify-content: center;
}

#my-photo {
  width: 325px;
  border-radius: 25px;
  border-color:rgb(60, 97, 92);;
  border-width: 5px;
  border-style: solid;
}

.abilitie {
  font-size: 20x;
  list-style: none;
  line-height: 25px;
}

#projects {
  list-style: none;
}

#uls {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: rgb(90, 38, 136);
}

.projectItem {
  margin-top: 5px;
}

#contact {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 3px;
}

.linkedin {
  text-align: center;
  font-size: 18px;
  margin-top: 8px;
}

#email, #gmail {
  text-align: center;
  font-size: 18px;
  line-height: 5px;
}

#email {
  font-weight: bold;
  font-style:italic;
}

#gmail {
  color: midnightblue;
}
